* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
}

#header {
    height: 2rem;
    padding: 1rem;
    line-height: 2rem;
    background: #eee;
}

#header .path {
    font-size: 1.3rem;
    outline: #000 2px solid;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#header .path a {
    color: #000;
    position: relative;
    margin-right: 1rem;
    text-decoration: none;
}

#header .path a:hover {
    background-color: #ddd;
}

#header .path a + a::before {
    content: '/';
    left: -0.75rem;
    position: absolute;
}

#main {
    padding: 1rem;
}

#main.list a.item {
    color: #000;
    display: block;
    height: 2rem;
    line-height: 2rem;
    padding-left: 2rem;
    font-size: 1.3rem;
    position: relative;
    text-decoration: none;
}

#main a.item:hover {
    background: #cef;
    outline: 1px #cdf solid;
}

#main.list a.item::before {
    left: 0;
    content: '';
    width: 1.5rem;
    display: block;
    height: 1.5rem;
    margin: 0.25rem;
    position: absolute;
}
#main::after {
    content: '';
    clear: both;
    display: block;
}

#main.icon a.item {
    float: left;
    width: 5rem;
    color: #000;
    display: block;
    font-size: 1.7rem;
    text-align: center;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#main.icon a.item::before {
    content: '';
    width: 5rem;
    height: 5rem;
    display: block;
}